In [2]:
import pandas as pd

homocides=pd.read_csv('/Users/aporter1350/Documents/Courses/Spring2020/nonparametrics/data/Homicides.csv')

#homocides=pd.read_csv('/Users/Alexis/Documents/Spring2020/nonparametrics/data/Homicides.csv')
#homocides['Date']=pd.to_datetime(homocides['Date'])
homocides['Month'] = pd.DatetimeIndex(homocides['Date']).month

In [3]:
murder=homocides[['Domestic', 'Arrest','Year', 'Month']]
#Murder rate
df=murder.groupby(['Year', 'Month']).size().reset_index(name='MurderRate')
#number of arrests
arrests=murder.groupby(['Year', 'Month','Arrest']).size().reset_index(name='Arrested')
arrests=arrests[arrests.Arrest!=False]
arrests.drop('Arrest', axis=1, inplace=True)
#number of domestic murders
dom=murder.groupby(['Year', 'Month','Domestic']).size().reset_index(name='DomesticViolence')
dom=dom[dom.Domestic!=False]
dom.drop('Domestic', axis=1, inplace=True)

tempDF=pd.merge(df, arrests, on=['Month', 'Year'])
murderDF=pd.merge(tempDF, dom, on=['Month', 'Year'])

In [5]:
#gdp=pd.read_csv('/Users/Alexis/Documents/Spring2020/nonparametrics/data/GDP.csv')
gdp=pd.read_csv('/Users/aporter1350/Documents/Courses/Spring2020/nonparametrics/data/GDP.csv')
gdp['Month'] = pd.DatetimeIndex(gdp['DATE']).month
gdp['Year'] = pd.DatetimeIndex(gdp['DATE']).year
unemp=pd.read_csv('/Users/aporter1350/Documents/Courses/Spring2020/nonparametrics/data/unemp_chi_adjusted.csv')
unemp[['Month', 'Year']]=unemp.Date.str.split("-", expand=True)
unemp['Month'] = pd.to_datetime(unemp.Month, format='%b').dt.month
unemp['Year'] = pd.to_datetime(unemp.Year, format='%y').dt.year
unemp.drop('Date', axis=1, inplace=True)

In [6]:
result=pd.merge(murderDF, unemp, on=['Month', 'Year'])
result['President'] = ['Republican' if x<2008 or x>2016 else 'Democrat' for x in result['Year']] 
result['Govenor'] = ['Republican' if x<2003 or 2014<x<2019 else 'Democrat' for x in result['Year']] 
#0 rep 1 dem
result['dum_President'] = [0 if x<2008 or x>2016 else 1 for x in result['Year']] 
result['dum_Govenor'] = [0 if x<2003 or 2014<x<2019 else 1 for x in result['Year']]

In [8]:
#result.to_csv('/Users/Alexis/Documents/Spring2020/nonparametrics/data/emp_project.csv',index=False)
result.to_csv('/Users/aporter1350/Documents/Courses/Spring2020/nonparametrics/data/emp_project.csv',index=False)

In [244]:
gdp_df=pd.merge(result, gdp, on=['Month', 'Year'])
gdp_df['President'] = ['Republican' if x<2008 or x>2016 else 'Democrat' for x in gdp_df['Year']] 
gdp_df['Govenor'] = ['Republican' if x<2003 or 2014<x<2019 else 'Democrat' for x in gdp_df['Year']]

In [245]:
gdp_df.to_csv('/Users/Alexis/Documents/Spring2020/nonparametrics/data/gdp_project.csv',index=False)

In [249]:
max(gdp_df['GDP'])

21729.124

In [5]:
df.head()

,Year,Month,MurderRate,Arrested,DomesticViolence,Labor Force,Labor Force Participation Rate,Employed,Employment Participation Rate,Unemployed,Unemployment Rate,U.S. Rate,President,Govenor,dum_President,dum_Govenor
0,2001,1,42,27,7,"6,490,800",69.2,"6,179,500",65.9,"311,300",4.8,4.2,Republican,Republican,0,0
1,2001,2,27,14,1,"6,494,500",69.2,"6,173,500",65.8,"321,000",4.9,4.2,Republican,Republican,0,0
2,2001,3,37,29,4,"6,492,600",69.2,"6,165,500",65.7,"327,100",5.0,4.3,Republican,Republican,0,0
3,2001,4,59,41,6,"6,484,200",69.0,"6,154,800",65.5,"329,400",5.1,4.4,Republican,Republican,0,0
4,2001,5,42,23,3,"6,472,100",68.9,"6,142,300",65.3,"329,800",5.1,4.3,Republican,Republican,0,0

In [8]:
import pandas as pd

df=pd.read_csv('/Users/Alexis/Documents/Spring2020/nonparametrics/data/emp_project.csv')

In [11]:
df[df['Govenor']=='Democrat'].count()

Year                              147
Month                             147
MurderRate                        147
Arrested                          147
DomesticViolence                  147
Labor Force                       147
Labor Force Participation Rate    147
Employed                          147
Employment Participation Rate     147
Unemployed                        147
Unemployment Rate                 147
U.S. Rate                         147
President                         147
Govenor                           147
dum_President                     147
dum_Govenor                       147
dtype: int64

In [9]:
df.head()

,Year,Month,MurderRate,Arrested,DomesticViolence,Labor Force,Labor Force Participation Rate,Employed,Employment Participation Rate,Unemployed,Unemployment Rate,U.S. Rate,President,Govenor,dum_President,dum_Govenor
0,2001,1,42,27,7,"6,490,800",69.2,"6,179,500",65.9,"311,300",4.8,4.2,Republican,Republican,0,0
1,2001,2,27,14,1,"6,494,500",69.2,"6,173,500",65.8,"321,000",4.9,4.2,Republican,Republican,0,0
2,2001,3,37,29,4,"6,492,600",69.2,"6,165,500",65.7,"327,100",5.0,4.3,Republican,Republican,0,0
3,2001,4,59,41,6,"6,484,200",69.0,"6,154,800",65.5,"329,400",5.1,4.4,Republican,Republican,0,0
4,2001,5,42,23,3,"6,472,100",68.9,"6,142,300",65.3,"329,800",5.1,4.3,Republican,Republican,0,0