In [4]:
import pandas as pd

homocides=pd.read_csv('/Users/aporter1350/Documents/Courses/Spring2020/nonparametrics/data/Homicides.csv')

In [5]:
homocides.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,2174,HJ374672,05/20/2003 03:15:00 AM,015XX N LASALLE ST,110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,True,True,...,NaN,NaN,01A,NaN,NaN,2003,05/03/2018 03:49:53 PM,NaN,NaN,NaN
1,983,G446123,07/29/2001 10:15:00 AM,011XX N LASALLE ST,110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,False,...,NaN,NaN,01A,NaN,NaN,2001,05/03/2018 03:49:53 PM,NaN,NaN,NaN
2,24378,JC113580,01/11/2019 10:30:00 PM,000XX E IDA B WELLS DR,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,4.0,32.0,01A,NaN,NaN,2019,03/09/2019 03:58:58 PM,NaN,NaN,NaN
3,24561,JC281195,05/27/2019 11:42:00 PM,085XX S CICERO AVE,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,18.0,70.0,01A,1145925.0,1847569.0,2019,07/27/2019 04:05:02 PM,41.737710,-87.740958,"(41.737709752, -87.740958098)"
4,24562,JC281250,05/28/2019 12:25:00 AM,018XX N MONTICELLO AVE,110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,True,False,...,1.0,22.0,01A,1151758.0,1911886.0,2019,05/09/2020 03:45:33 PM,41.914092,-87.717899,"(41.914092032, -87.717899225)"

In [15]:
gdp={'gdp_chicago':[54802, 55165, 55791,57254,56939, 57823, 59285, 60191,61170,61570,61970, 62370], 'year':[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],'president':['obama','obama','obama','obama','obama','obama','obama','obama','trump','trump','trump','trump']}
chi_gdp=pd.DataFrame(data=gdp)

In [16]:
chi_gdp

    gdp_chicago  year president
0         54802  2009     obama
1         55165  2010     obama
2         55791  2011     obama
3         57254  2012     obama
4         56939  2013     obama
5         57823  2014     obama
6         59285  2015     obama
7         60191  2016     obama
8         61170  2017     trump
9         61570  2018     trump
10        61970  2019     trump
11        62370  2020     trump

In [17]:
homocides['Year'].value_counts()

2016    788
2017    674
2001    667
2002    657
2003    604
2018    600
2012    515
2008    513
2019    502
2015    502
2006    476
2009    461
2004    454
2005    453
2007    448
2010    438
2011    438
2013    429
2014    426
2020    165
Name: Year, dtype: int64